@font-face {
	font-family: 'Jost'; 
	src: url(../fonts/Jost.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Jost;
  font-size: 20px;
}

.headerPanel{
    width: auto;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.521);
}